
body { 
  margin: 0 !important;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
body,html, .intro{
  height:100%;
  width:100%
  
 }

#parcel-never-miss .btn-lg {
    padding-top: 6px;
}


.btn-primary:hover, .btn-primary:active {
    background: #d33225 !important;
    color: #fff !important;
}

.btn:hover {
    border-color: #d33225;
    color: #fff;
}

.btn-primary {
    color: #d33225 !important;
    border-color: #d33225 !important;
}

.btn-lg {
    padding: 6.5px 15px;
    height: 39px;
   
    font-size: 15px;
}

.btn-topo {
  float:right;
  margin-top:10px;
  margin-bottom: 10px;
}

.btn:focus {
  background: rgba(0,0,0,0);
  color:#d33225;
  border-color:#d33225;
  outline:0px;
}

.btn {
    display: inline-block;
    vertical-align: 0;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    font-family: "times new roman";
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 26px;
    height: 32.5px;
    padding: 3.25px 15px;
    border-radius: 0;
    border: 2px solid #d33225;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

a:hover {color: #d33225;
}
a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}
 
 p{
  text-align: center;
  margin:0 0 25px;
  font-size:18px;
  line-height:1.5;
 }
 @media (min-width: 200px){
  p{
    margin: 30px 0 100px 0 ;
    font-size:20px;
    line-height:1.6;
    }}

 .intro{
  display:table;
  height:auto;
  padding:100px 0;
  text-align:center;
  background-image:url("../../seigaiha.png");
  background-repeat: repeat-x;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
 }

 .intro .intro-body{
  display:table-cell;
  vertical-align:middle;
  }
 .intro .intro-body .brand-heading{
  font-size:40px;
 }
 .intro .intro-body .intro-text{
  font-size:18px;
  }
 @media (min-width: 200px){
 .intro{
    height:100%;
    padding:0;
    }
 .intro .intro-body .brand-heading{
  font-size:100px;
  }
 .intro .intro-body .intro-text{
  font-size:26px;
  }}

  .login 
 {
  background-color: white;
  width: 100%;
  height: auto;

  }
.content-section{

  padding-top: 90px;
  }

@media (min-width: 200px){
.content-section{
    padding-bottom: 90px;
  }

h1, h2, h3, h4, h5, h6,p  {
    font-family: "Times new roman",serif;
    font-weight: 500px;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #000;
}

footer{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
  height: 10%;
  width: auto;
  background-image:url("../../seigaiha.png");
}

option.form-control{
  border-radius: 0px;
}
.fa{
  padding-right: 15px;
}
.text{
  padding-top: 25px;
}

.form-box{
  background-color: #f5f5f5;
}
.principal{
  background-color: #f5f5f5;
}

.menu {
    font-family: "DINNext","Helvetica Neue",Helvetica,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: solid 10px black;
}

li:hover{
  background-color: rgb(193, 72, 72);}

.navbar-default .navbar-nav>li>a:hover {
  color: white;} 

    .navbar-default .navbar-nav>li>a {
      color: rgb(193, 72, 72);
    }
    .navbar-default{
      background-color: white!important;
      /*border-color: rgb(193, 72, 72);*/
    }

 .espaço {
    padding-right: 30px;
    padding-left: 30px;}

button :hover{
  text-decoration: none;
  color: white;
}
 .atividade{
  width: auto;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
 }
}
table{
  background-color: rgba(153, 153, 153, 0.28) !important;
  }
td {
  text-align: left;

}
.dois{
  background: none;
}
html{
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.navbar-default .navbar-brand {
  color: gray;
}
.glyphicon{
  margin-right: 20px;
}
ul.linha{
  border-bottom: 0.5px solid lightgray;
  list-style: none;
}
.panel-default>.panel-heading{
  border: 0.25px solid ;
  color: rgb(193, 72, 72);
  box-shadow: 1px;
  background: white;
}
